.container{
    background-image: url('src/assets/images/Group.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:1024px;
    background-color: #192231;
    /* max-width:1140px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_container{
    width: 580px;
    background-color: rgba(146, 146, 146, 0.4); /* Use rgba for transparency */
    z-index: 99;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom:30px;
    /* justify-content: center; */
    align-items: center;
}
.error{
    color:red;
    padding-top: 10px;
}
.sucess{
    color: greenyellow;
    padding-top: 10px;
}
.login_container h2{
    color:#fff;
    font-weight:bold;
    font-size:30px;
    padding-top:30px;
}
.header{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
}
.input_wrapper{
    margin: 50px 0;
}
.button_wrapper{
    padding-top: 50px;
}
.account{
    font-weight: 400;
    font-size: 16px;
    /* color:#808080; */
    margin-top: 15px;
    color:#fff;
}
.account span{
    color: #F08200;
    text-transform: capitalize;
    cursor: pointer;
}
.line{
    width: 318px;
    color: #929292;
    border:1px solid  #929292;
    margin: 10px 0;
}
.icon_images{
    display: flex;
    margin-top: 15px;
    cursor: pointer;
}
.icon_images > :not(:last-child) {
  margin-right: 15px;
}

